// Theme colors
$theme-color: custom;
$color-background: #4B6288 !default;
$color-dot-accent: #E63E66 !default;
$color-foreground: #FCFCFC !default;
$color-title: #FCFCFC !default;
$color-body-text: #1B2942 !default;
$color-text-accent: #E63E66 !default;
$color-code: #1B2942 !default;
$color-nav-link: #4B6288 !default;
$color-primary-link: #E63E66 !default;